# Database Configuration
DATABASE_URL=postgresql+psycopg://ai:ai@localhost:5432/thanos

# Google Drive Configuration
GOOGLE_DRIVE_FOLDER_ID=1MqejgA65iohmi9Oqvq_6Y9AMucrONc_Y
GOOGLE_APPLICATION_CREDENTIALS=credentials.json

# Agno / AI Configuration
GOOGLE_API_KEY=your_gemini_api_key_here

# Table Configuration
VECTOR_TABLE_NAME=cs_vectordb_v2
